{% extends "codex/base_menu.html" %}

{% block content %}

<div id="outer">
  <div id="welcome-splash">
    {% if not user.is_authenticated %}
      <h1>Welcome to CreatureCodex!</h1>
      <h2>Things you can do with this application:</h2>
      <ul>
        <li>Look up 5th Edition Dungeons and Dragons creature stats!</li>
        <li>Manage Dungeons and Dragons encounters!</li>
        <li>Create a profile to save your encounters for later!</li>
        <li><strong>To start, try <a href="{% url 'codex' %}">checking out our Codex</a> or <a href="{% url 'login' %}">logging in!</a></strong></li>
      </ul>
    {% else %}
      {% if encounters %}
        <h1>My Encounters:</h1>
        <ul>
        {% for enc in encounters %}
          {% if enc.owner_id_id == userid %}
          <li><a href="{% url 'battle_detail'  enc.id %}">{{enc.name}}</li>
          {% endif %}
        {% endfor %}
        </ul>
      {% else %}
        <h1>Welcome back, {{ user.get_username }}!</h1>
        <p><a href="{% url 'battle_create' %}">Start an Encounter</a>
      {% endif %}
    {% endif %}

  </div>
</div>



{% endblock %}
