{% extends "codex/base_menu.html" %}

{% block content %}

  <div id="creature-list-page">
  <h1>Creature List</h1>
  {% if creature_list %}
  <ul id="creature-list">
    {% for creature in creature_list %}
      <li>
        <!-- <a href="{{ book.get_absolute_url }}">{{ book.title }}</a> ({{book.author}}) -->
        <a href="{% url 'creature_detail'  creature.id %}">{{creature.name}} - {{creature.type}}</a>
      </li>
    {% endfor %}
  </ul>
  {% else %}
    <p>There are no creatures in the codex.</p>
  {% endif %}
  </div>



{% endblock %}
