{% extends "codex/base_menu.html" %}

{% block content %}

<h1>Search</h1>

<input type="text" class="searchText" onkeyup="filter(this,'#creature-list')" />

<h3 class="error" id="nameError">You must include a name for your encounter!</h3>

<div id="battle-list-page">
  <div id="creature-list-page">
    <h2>Select Participants</h2>
    {% if creature_list %}
    <ul id="creature-list">
      {% for creature in creature_list %}
        <li>
          <form>
            <input type="button" value="+" class="button-adjust" name="{{creature.name}}-{{ creature.id }}">
            <input type="button" value="-" class="button-adjust" name="{{creature.name}}-{{ creature.id }}">
          </form>
          <a href="{% url 'creature_detail'  creature.id %}" target="_blank">{{creature.name}} - {{creature.type}}</a>
        </li>
      {% endfor %}
    </ul>
    {% else %}
      <p>There are no creatures in the codex.</p>
    {% endif %}
  </div>
  <div id="creature-list-page">
    <h2>Currently Participating</h2>
    <div class='trans_div'>
      <form method='post'>
        {% csrf_token %}
        <p>What will you name your encounter? {% if validationError %}<span class='error'><br/>{{validationError}}</span>{% endif %}<input type="text" class="searchText" name="encounterName" id="enc_name"/></p>
        <ul id="currently-participating">
          <li id="empty-encounter-message"><strong>You have no one participating in your encounter!</strong> Let's change that. Select the (+) button on a creature to the left, or search for a creature in the search bar above.</li>
          <!-- To be filled dynamically with jQuery -->
        </ul>
        <p id="submit-encounter"><input type="submit" value="Start Encounter!" class="button-adjust" id="submit-encounter-button" /></p>
      </form>
    </div>
  </div>
</div>




<script>

  $("#submit-encounter-button").click(function(event){
    var enc_name_field = $("#enc_name");
    var enc_name = $("#enc_name").val().trim();

    if (enc_name == '') {
      event.preventDefault();
      $("#nameError").show();
      $("#enc_name").css({"border-color":"red","background-color":"#ffb3b3"});
      $("#enc_name").closest('p').addClass('error')
    }
  });


  function filter (element,what) {
      var value = $(element).val();
      value = value.toLowerCase().replace(/\b[a-z]/g, function(letter) {
          return letter.toUpperCase();
      });

      if (value == '') {
          $(what+' > li').show();
      }
      else {
          $(what + ' > li:not(:contains(' + value + '))').hide();
          $(what + ' > li:contains(' + value + ')').show();
      }
  };

  $(".button-adjust").click(function(){
    var title=$(this).attr("value");
    var c=$(this).attr("name");
    var creature_name=c.split("-")[0]
    var creature_id=c.split("-")[1]
    var currPar = $("#currently-participating")
    var currPar_in = $.map( $('#currently-participating li'), function (element) { return $(element).text().split(":")[0] });
    var c_joined = c.split(' ').join('_')
    var creature_name_joined = creature_name.split(' ').join('_')

    if (title=='+') {
      if (currPar_in.includes(creature_name)==false) {
        currPar.append(`<li>${creature_name}: <input type='number' name=${c_joined} value=1 readonly /></li>`);
      } else {
          $(`ul#currently-participating input[name*=${creature_name_joined}]`).val(+$(`ul#currently-participating input[name*=${creature_name_joined}]`).val() + 1);
      }
    } else if (title=='-') {
      if ($(`ul#currently-participating input[name*=${creature_name_joined}]`).val()==1) {
        console.log('REMOVE')
        $(`ul#currently-participating input[name*=${creature_name_joined}]`).closest('li').remove();
      } else {
        $(`ul#currently-participating input[name*=${creature_name_joined}]`).val(+$(`ul#currently-participating input[name*=${creature_name_joined}]`).val() - 1);
      }
    }

    if ( $.map( $('#currently-participating li'), function (element) { return $(element).text().split(":")[0]}).length > 1) {
      $('#empty-encounter-message').hide();
      $('#submit-encounter').show();
    } else {
      $('#empty-encounter-message').show();
      $('#submit-encounter').hide();
    }

  });

</script>


{% endblock %}
