{% extends "codex/base_menu.html" %}

{% block content %}

  <div id="encounter-container">

    <h1>{{encounterinstance.name}}</h1>
    <p id="instructions"><strong>Manage your encounter here!</strong> Hover over the initiative and HP fields to modify them. <br/> Click and drag creatures to re-organize them. Click on a creature's name to learn more about it.<br/>Be sure to save your encounter after all major events!</p>

    <form method="post" id="sortable">
      {% csrf_token %}

      {% for a in encounterinstance.creatureinstance_set.all %}
        <div class="encounter-item">
          <p><a href="{% url 'creature_detail'  a.creature.id %}" target="_blank">{{a.creature}}</a></p>
          <p><strong>Initiative: </strong><input type='number' class='intTracker' name="ini-{{a.id}}" value={{a.init}} /></p>
          <p><strong>HP: </strong><input type='number' class='intTracker' name="chp-{{a.id}}" value={{a.currentHitPoints}} />/{{a.creature.hitPoints}}</p>
          <p><strong>AC: </strong>{{a.ac}}</p>
        </div>
      {% endfor %}
      <div id="encounter-container">
        <input type="submit" value="Save" id="button-save-encounter">
      </div>
    </form>

  </div>

  <script type="text/javascript">
    $( function() {
       $( "#sortable" ).sortable();
       $( "#sortable" ).disableSelection();
     } );
  </script>





{% endblock %}
